* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.game {
    width: 495px;
    height: 230px;
    border: 1px white;
    border-radius: 20px;
    margin: auto;
}

#main {
    overflow: hidden;
    background-color: black;
    width: 505px;
    height: 250px;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
}

#character {
    width: 22px;
    height: 50px;
    background-color: transparent;
    position: relative;
    top: 150px;
    /* animation: jump 0.5s linear; */
}

.block {
    /* background-color: blue; */
    width: 60px;
    height: 70px;
    position: relative;
    top: 90px;
    left: 500px;
    animation: block 2s infinite linear;
}

.animate {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 150px;
        background-color: yellow;
        border-radius: 20px;
        background-position-y: 300px;
        transition: none;
    }
    30% {}
    50% {
        top: 10px;
        background-position-y: 300px;
        transition: none;
    }
    70% {
        top: 100px;
        border-radius: 20px;
        background-blend-mode: lighten;
        background-position-y: 120px;
        background-clip: padding-box;
        transition: none;
    }
    100% {
        top: 150px;
        background-color: transparent;
    }
}

@keyframes block {
    0% {
        left: 500px
    }
    100% {
        left: -20px
    }
}

p {
    text-align: center;
}